{% extends 'browse.twig' %}

{% block title %}List of uploaded objects in {{ container }}{% endblock title %}
{% block subtitle %}List of uploaded objects in {{ container }}{% endblock subtitle %}
{% block navigation %}
    {{ parent() }}&nbsp;&gt;
    &nbsp;<a href="{{ app.request.baseUrl }}/storage">storage</a>
{% endblock navigation %}

{% block list %}

    <div id="addBlob" class="icon floatRight"><a id="addBlobLink" href="{{ app.request.baseUrl }}/storage/container/{{ container }}/add-blob" title="Add a new blob to container {{ container }}"><span class="ui-icon ui-icon-circle-plus" style="display:inline-block;">+</span></a></div>

    <div class="clear">&nbsp;</div>

    <dl class="blobList">
        <dt class="title large metro_blue_fg metro_black_bg">File</dt>
        <dd class="title medium  metro_blue_fg metro_black_bg">Location</dd>
        <dd class="title small metro_blue_fg metro_black_bg">Content-type</dd>
        <dd class="title small metro_blue_fg metro_black_bg">Last modified</dd>
        <dd class="title metro_blue_fg metro_black_bg">Actions</dd>

        {% for blob in blobs.getBlobs %}
            {% set blobName = ab.shortenString(blob.getName) %}
            {% set blobUrl = ab.shortenString(blob.getUrl) %}
        <dt class="data large">{{ blobName|e }}</dt>
        <dd class="data medium"><a href="{{ blob.getUrl }}" title="{{ blob.getUrl|e }}">{{ blobUrl|e }}</a></dd>
        <dd class="data small">{{ blob.getProperties.getContentType|e }}</dd>
        <dd class="data small">{{ blob.getProperties.getLastModified.format('Y-m-d H:i:s')|e }}</dd>
        <dd class="data center">
            <a href="{{ app.request.baseUrl }}/storage/container/{{ container }}/remove-blob?blob={{ blob.getName|url_encode }}" title="Remove {{ blob.getName|e }}" onClick="return confirm('Are you sure you want to delete {{ blob.getName|e }}?');"><span class="ui-icon ui-icon-circle-minus" style="display: inline-block">-</span></a>
            <a href="{{ blob.getUrl }}" class="ui-icon ui-icon-search" style="display: inline-block">o</a>
        </dd>
        {% endfor %}

    </dl>

    <div id="preview"></div>
{% endblock list %}

{% block dialog %}<div id="dialog">{% include 'forms/blob-form.twig' %}</div>{% endblock dialog %}